<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>minhtt.filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>minhtt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>minhtt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>minhtt.controllers.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCreateUserPageController</servlet-name>
        <servlet-class>minhtt.controllers.ShowCreateUserPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>minhtt.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCreatePageController</servlet-name>
        <servlet-class>minhtt.controllers.ShowCreatePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUpdatePageController</servlet-name>
        <servlet-class>minhtt.controllers.ShowUpdatePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>minhtt.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>minhtt.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAdminPageController</servlet-name>
        <servlet-class>minhtt.controllers.ShowAdminPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionController</servlet-name>
        <servlet-class>minhtt.controllers.CreateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuizPageController</servlet-name>
        <servlet-class>minhtt.controllers.ShowQuizPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizController</servlet-name>
        <servlet-class>minhtt.controllers.TakeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishQuizController</servlet-name>
        <servlet-class>minhtt.controllers.FinishQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHistoryPageControlller</servlet-name>
        <servlet-class>minhtt.controllers.ShowHistoryPageControlller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHitoryController</servlet-name>
        <servlet-class>minhtt.controllers.SearchHitoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailController</servlet-name>
        <servlet-class>minhtt.controllers.ShowDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCreateUserPageController</servlet-name>
        <url-pattern>/ShowCreateUserPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCreatePageController</servlet-name>
        <url-pattern>/ShowCreatePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUpdatePageController</servlet-name>
        <url-pattern>/ShowUpdatePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAdminPageController</servlet-name>
        <url-pattern>/ShowAdminPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionController</servlet-name>
        <url-pattern>/CreateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQuizPageController</servlet-name>
        <url-pattern>/ShowQuizPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizController</servlet-name>
        <url-pattern>/TakeQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishQuizController</servlet-name>
        <url-pattern>/FinishQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHistoryPageControlller</servlet-name>
        <url-pattern>/ShowHistoryPageControlller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHitoryController</servlet-name>
        <url-pattern>/SearchHitoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailController</servlet-name>
        <url-pattern>/ShowDetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>AuthenFilter</welcome-file>
    </welcome-file-list>
</web-app>
