body{
    background-color: #6BC4B2;
}
.logout{
    float: right;
    margin-right: 150px;
}
.history{
    float: right;
    margin-right: 150px;
}
h1{
    margin-left: 31%;
}
h3{
    margin-left: 33%;
}
.quiz{
    margin-left: 35%;
}

h2{
    margin-left: 34%;
}
